package components

templ Notfound() {
    <title> Not Found</title>
	<div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; font-size: 4rem; color: #ff6666;">
    <h1>Page Not Found!</h1>
  </div>
}
